*{
    margin: 0;
    box-sizing: border-box;
}
 body{
    height:100vh;
   width: 100vw;
   background-color: black;
 }
#clock_container
{
    height: 100vh;
    background-color:darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#hours_section,#minutes_section,#seconds_section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:70px;
    width: 100px;
    color:black;
    background-color:white;
    border-radius: 50%;
}
#hours,#min,#sec{
    font-size: 30px;
    color:red;
} 